.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
}

.container [class^='col-'] {
  padding: 0 10px;
}

.container .col-sm-1 {
  width: 25%;
}

.container .col-sm-2 {
  width: 50%;
}

.container .col-sm-3 {
  width: 75%;
}

.container .col-sm-4 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1020px;
    padding: 0 30px;
  }
  .container .col-md-1 {
    width: 8.33333%;
  }
  .container .col-md-2 {
    width: 16.66667%;
  }
  .container .col-md-3 {
    width: 25%;
  }
  .container .col-md-4 {
    width: 33.33333%;
  }
  .container .col-md-5 {
    width: 41.66667%;
  }
  .container .col-md-6 {
    width: 50%;
  }
  .container .col-md-7 {
    width: 58.33333%;
  }
  .container .col-md-8 {
    width: 66.66667%;
  }
  .container .col-md-9 {
    width: 75%;
  }
  .container .col-md-10 {
    width: 83.33333%;
  }
  .container .col-md-11 {
    width: 91.66667%;
  }
  .container .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
  .container .col-lg-1 {
    width: 95px;
  }
  .container .col-lg-2 {
    width: 190px;
  }
  .container .col-lg-3 {
    width: 285px;
  }
  .container .col-lg-4 {
    width: 380px;
  }
  .container .col-lg-5 {
    width: 475px;
  }
  .container .col-lg-6 {
    width: 570px;
  }
  .container .col-lg-7 {
    width: 665px;
  }
  .container .col-lg-8 {
    width: 760px;
  }
  .container .col-lg-9 {
    width: 855px;
  }
  .container .col-lg-10 {
    width: 950px;
  }
  .container .col-lg-11 {
    width: 1045px;
  }
  .container .col-lg-12 {
    width: 1140px;
  }
}
