<!DOCTYPE html>
<html>
  <head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="og:title" content="" />
    <meta name="og:url" content="" />
    <meta name="og:site_name" content="" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="" />
    <meta name="og:img" content="" />

    <!-- Title -->
    <title>페이지 타이틀</title>

    <!-- Favicon (웹 페이지 탭 아이콘) -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png"> -->

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />

    <!-- Style -->
    <link href="/assets/css/site-layout.css" rel="stylesheet" type="text/css" />
    <link
      href="/assets/css/components/event-cards.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/css/base/animations.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <!-- GNB -->
          <header class="gnb">
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="gnb-top">
                    <button class="prev-btn">
                      <i class="ic-chevron" aria-label="뒤로가기"></i>
                    </button>
                    <h1>Nickname</h1>
                    <div style="width: 50px"></div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- End of GNB -->

          <!-- Main -->
          <main class="profile-page">
            <div class="profile-container">
              <div id="filtered-img">
                <div class="background-filter1"></div>
                <div class="background-filter2"></div>
                <div class="background-picture">
                  <img
                    src="../../assets/images/profile_image-300x300.png"
                    alt="프로필 사진"
                  />
                </div>
              </div>
              <div class="my">
                <div class="my-wrapper">
                  <div class="user-picture">
                    <!-- 프로필 초록색원 활성화 여부 -->
                    <div class="circle is-active"></div>
                    <img
                      src="../../assets/images/profile_image-300x300.png"
                      alt="프로필 사진"
                    />
                  </div>
                  <div class="name">
                    <h1 class="primary">Nickname</h1>
                    <span class="secondary">@hambi</span>
                  </div>
                  <!-- 팔로우 팔로잉 전환 2가지 -->
                  <!-- <button class="follow-btn">+ 팔로우</button> -->
                  <button class="following-btn">
                    <span>팔로잉</span>
                    <i class="ic-check" aria-label="뒤로가기"></i>
                  </button>
                  <ol class="hash-chip-container">
                    <li>
                      <button class="hash-chip">#여행</button>
                    </li>
                    <li>
                      <button class="hash-chip">#사진</button>
                    </li>
                    <li>
                      <button class="hash-chip">#스냅</button>
                    </li>
                  </ol>
                  <div class="follow-state">
                    <div class="follower">
                      <h2>팔로워</h2>
                      <span>3.7k</span>
                    </div>
                    <div class="following">
                      <h2>팔로잉</h2>
                      <span>17</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fake-container"></div>

              <nav class="tabs">
                <button class="is-active">
                  <h3>플레이리스트</h3>
                </button>
                <button>
                  <h3>종료된 플레이</h3>
                </button>
                <button>
                  <h3>플레이어 정보</h3>
                </button>
              </nav>

              <div class="play-lists">
                <header>
                  <h1>Nickname의 플레이리스트를 만나보세요!</h1>
                  <h2>
                    <span class="title">playlist</span>
                    <span class="user-id">@hambi</span>
                  </h2>
                </header>

                <article class="event-cards">
                  <section class="card">
                    <div class="due-tag">모집 D-20</div>
                    <div class="picture">
                      <img
                        src="https://wwwow.io/dataFiles/Contents/EDaNx52lvC/datas/banner.jpg?1673249336"
                        alt="event-image"
                      />
                    </div>
                    <div class="title-container">
                      <h2>이벤트 타이틀</h2>
                      <button class="like">
                        <i class="ic-heart" aria-label="좋아요"></i>
                      </button>
                    </div>
                    <h3 class="creator">크리에이터명</h3>
                    <div class="periods">
                      <h4 class="recruit-period">
                        모집기간 2023.01.05(목) - 2023.01.15(일)
                      </h4>
                      <h4 class="progress-period">
                        진행기간 2023.01.31(화) 1:30 PM
                      </h4>
                    </div>
                    <div class="state">
                      <h5>모집중 👍</h5>
                      <h5>무료 🙌</h5>
                    </div>
                  </section>
                </article>
                <article class="event-cards">
                  <section class="card">
                    <div class="due-tag">모집 D-20</div>
                    <div class="picture">
                      <img
                        src="https://wwwow.io/dataFiles/Contents/HLWw5XJZrn/datas/thumb.png?1673249337"
                        alt="event-image"
                      />
                    </div>
                    <div class="title-container">
                      <h2>이벤트 타이틀</h2>
                      <button class="like">
                        <i class="ic-heart" aria-label="좋아요"></i>
                      </button>
                    </div>
                    <h3 class="creator">크리에이터명</h3>
                    <div class="periods">
                      <h4 class="recruit-period">
                        모집기간 2023.01.05(목) - 2023.01.15(일)
                      </h4>
                      <h4 class="progress-period">
                        진행기간 2023.01.31(화) 1:30 PM
                      </h4>
                    </div>
                    <div class="state">
                      <h5>모집중 👍</h5>
                      <h5>무료 🙌</h5>
                    </div>
                  </section>
                </article>
              </div>
            </div>
          </main>

          <!-- End of Main -->

          <!-- Global Footer -->
          <footer class="global-footer"></footer>
        </div>
      </div>
    </div>
    <!-- End of Global Footer -->

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="/assets/js/dnmdScript.js"></script>
    <script src="/assets/js/siteScript.js"></script>
  </body>
</html>
