<!DOCTYPE html>
<html>
  <head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="og:title" content="" />
    <meta name="og:url" content="" />
    <meta name="og:site_name" content="" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="" />
    <meta name="og:img" content="" />

    <!-- Title -->
    <title>페이지 타이틀</title>

    <!-- Favicon (웹 페이지 탭 아이콘) -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png"> -->

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />

    <!-- Style -->
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <link
      href="../../assets/css/site-layout.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/components/event-cards.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/base/animations.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link href="../../main.css" rel="stylesheet" type="text/css" />
    <!-- <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <!-- <div class="container">
      <div class="row">
        <div class="col-sm-4"> -->
    <!-- GNB -->
    <!-- class="main-gnb" -->
    <!-- <header
      class="main-gnb bg-[color:var(--color-dark)] backdrop-opacity-90 backdrop-blur-md"
    > -->
    <header class="main-gnb">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="contents">
              <a href="/">
                <img class="logo" src="../../assets/images/logo.svg" alt="" />
              </a>
              <button class="search"><i class="ic-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="fake-height"></div> -->
    </header>
    <!-- End of GNB -->

    <!-- Main -->
    <main class="main-page w-full">
      <div class="carousel">
        <div class="container relative">
          <div class="row">
            <div class="col-sm-4 h-[468px]">
              <!-- <div class="flex w-full relative"> -->
              <div class="contents">
                <div>
                  <!-- <div class="profile">
                    <img
                      src="https://wwwow.io/dataFiles/Contents/HLWw5XJZrn/datas/thumb.png?1673249337"
                      alt=""
                    />
                  </div> -->
                  <h1>롯데뮤지엄</h1>
                  <h2>마틴 마르지엘라 전</h2>
                  <h3>2023.01.10 ~ 2023.02.28</h3>
                </div>
                <div class="pages">
                  <div class="pagination">
                    <strong><span>1&nbsp;</span><span>/ 8</span></strong>
                  </div>
                  <hr class="bar" />
                  <hr class="line" />
                </div>
              </div>
              <div class="absolute w-full h-full left-0">
                <div class="filter"></div>
                <div class="main-img">
                  <img
                    src="./test-img.png"
                    alt="플레이어리스트 메인이미지"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <div class="wow-pick">
        <div class="container bg-[color:var(--color-gray-222)]">
          <div class="row">
            <div class="col-sm-4">
              <header class="mb-6">
                <div class="flex justify-between items-center mt-14 mb-[8px]">
                  <div class="">
                    <h2
                      class="text-[color:var(--key-color)] font-bold text-2xl"
                    >
                      와우 Pick!
                    </h2>
                  </div>
                  <button
                    class="text-[color:var(--color-tertiary)] text-[13px] font-medium"
                  >
                    전체보기
                  </button>
                </div>
                <h3
                  class="text-[color:var(--color-gray-eee)] font-medium text-sm"
                >
                  와우가 추천하는 플레이리스트
                </h3>
              </header>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="scroll-horizontal">
                <article class="inline-flex space-x-3 mb-12">
                  <section class="relative">
                    <a href="" class="link-detail">
                      <div
                        class="bg-[#41CD82] w-[200px] h-[200px] rounded-lg py-6 px-[42px] flex flex-col mb-4"
                      >
                        <div class="w-[116px] h-[116px] mb-[15px]">
                          <img
                            class="object-cover w-full h-full rounded-full"
                            src="https://wwwow.io/dataFiles/Contents/HLWw5XJZrn/datas/thumb.png?1673249337"
                            alt="플레이리스트"
                            loading="lazy"
                          />
                        </div>
                        <h2 class="text-[color:var(--color-white)]">
                          여행 플레이리스트
                        </h2>
                      </div>
                      <div>
                        <h2
                          class="text-[color:var(--color-white)] font-semibold mb-2"
                        >
                          대만 여행 준비 중이라면? <br />대만 대사관 초청
                          럭셔리<br />
                          파티에 오세요!
                        </h2>
                        <h3 class="text-[color:var(--color-aaa)]">
                          2023.01.31(화) 1:30 PM 까지
                        </h3>
                      </div>
                    </a>
                    <button
                      class="w-8 h-8 absolute top-[10px] right-[10px] z-10"
                    >
                      <i
                        class="ic-heart before:content-['\e903'] before:text-[color:var(--color-white)]"
                      ></i>
                    </button>
                  </section>
                  <section class="relative">
                    <a href="" class="link-detail">
                      <div
                        class="bg-gradient-to-br from-[#5CEFA0] to-[#17B08C] w-[200px] h-[200px] rounded-lg py-6 px-[42px] flex flex-col mb-4"
                      >
                        <div class="w-[116px] h-[116px] mb-[15px]">
                          <img
                            class="object-cover w-full h-full rounded-full"
                            src="https://wwwow.io/dataFiles/Contents/HLWw5XJZrn/datas/thumb.png?1673249337"
                            alt="플레이리스트"
                            loading="lazy"
                          />
                        </div>
                        <h2 class="text-[color:var(--color-white)]">
                          여행 플레이리스트
                        </h2>
                      </div>
                      <div>
                        <h2
                          class="text-[color:var(--color-white)] font-semibold mb-2"
                        >
                          대만 여행 준비 중이라면? <br />대만 대사관 초청
                          럭셔리<br />
                          파티에 오세요!
                        </h2>
                        <h3 class="text-[color:var(--color-aaa)]">
                          2023.01.31(화) 1:30 PM 까지
                        </h3>
                      </div>
                    </a>
                    <button
                      class="w-8 h-8 absolute top-[10px] right-[10px] z-10"
                    >
                      <i
                        class="ic-heart before:content-['\e903'] before:text-[color:var(--color-white)]"
                      ></i>
                    </button>
                  </section>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wow-event">
        <header>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div
                  class="flex justify-between items-center mt-14 mb-[15px] en"
                >
                  <h2 class="text-[color:var(--key-color)] font-bold text-xl">
                    NEW EVENT
                  </h2>

                  <button
                    class="font-medium text-[13px] text-[color:var(--color-gray-777)]"
                  >
                    전체보기
                  </button>
                </div>
                <h3
                  class="text-[color:var(--color-dark)] font-medium text-sm mb-6"
                >
                  와우야 서울에서 이벤트 찾아줘!
                </h3>
              </div>
            </div>
            <!-- <div class="relative w-full h-10"></div> -->
            <!-- <div class="row">
              <div class="col-sm-4"> -->

            <!-- </div>
            </div> -->
          </div>
        </header>
        <section
          class="section-tag inline-flex items-center sticky top-[68px] left-0 h-12 z-50 w-full h-10 bg-[color:var(--color-white)] px-5 mb-6"
        >
          <div class="scroll-horizontal space-x-[6px]">
            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0001"
                class="visually-hidden input tag"
              />
              <span>주제01</span>
            </label>

            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0002"
                class="visually-hidden input tag"
              />
              <span>주제02</span>
            </label>

            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0003"
                class="visually-hidden input tag"
              />
              <span>주제03</span>
            </label>

            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0004"
                class="visually-hidden input tag"
              />
              <span>주제04</span>
            </label>

            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0005"
                class="visually-hidden input tag"
              />
              <span>주제05</span>
            </label>

            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0006"
                class="visually-hidden input tag"
              />
              <span>주제06</span>
            </label>
            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0006"
                class="visually-hidden input tag"
              />
              <span>주제06</span>
            </label>
            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0006"
                class="visually-hidden input tag"
              />
              <span>주제06</span>
            </label>
            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0006"
                class="visually-hidden input tag"
              />
              <span>주제06</span>
            </label>
            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0006"
                class="visually-hidden input tag"
              />
              <span>주제06</span>
            </label>
            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0006"
                class="visually-hidden input tag"
              />
              <span>주제06</span>
            </label>
            <label class="tag-wrapper">
              <input
                type="checkbox"
                name="member_interest"
                value="B0006"
                class="visually-hidden input tag"
              />
              <span>주제06</span>
            </label>
          </div>
        </section>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <article class="event-cards">
                <section class="card">
                  <strong class="due-tag">모집 D-20</strong>
                  <a href="" class="picture link-detail">
                    <img
                      src="https://wwwow.io/dataFiles/Contents/EDaNx52lvC/datas/banner.jpg?1673249336"
                      alt="event-image"
                      loading="lazy"
                    />
                  </a>
                  <div class="title-container">
                    <h2
                      class="font-medium text-[13px] text-[color:var(--color-dark)]"
                    >
                      <a href="" class="link-detail">이벤트 타이틀</a>
                    </h2>
                    <button class="like">
                      <i class="ic-heart" aria-label="좋아요"></i>
                    </button>
                  </div>
                  <h3 class="creator text-[color:var(--color-secendary)]">
                    크리에이터명
                  </h3>
                  <div class="periods">
                    <h4
                      class="recruit-period text-[color:var(--color-gray-aaa)]"
                    >
                      모집기간 2023.01.05(목) - 2023.01.15(일)
                    </h4>
                    <h4
                      class="progress-period text-[color:var(--color-gray-aaa)]"
                    >
                      진행기간 2023.01.31(화) 1:30 PM
                    </h4>
                  </div>
                  <div class="state">
                    <h5>모집중 👍</h5>
                    <h5>무료 🙌</h5>
                  </div>
                </section>
              </article>
              <button
                class="border-[1px] border-[color:var(--color-gray-aaa)] border-solid rounded-lg w-full h-12 text-sm text-[color:var(--color-gray-777)] mb-12"
              >
                더보기
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="application mb-16">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a
                href=""
                class="block bg-[color:var(--color-dark)] py-6 px-12 rounded-lg"
              >
                <h4
                  class="text-[color:var(--key-color)] font-semibold text-[13px] mb-1"
                >
                  프로필도 꾸미고, 팔로워도 모으고 싶다면?
                </h4>
                <h3
                  class="text-[color:var(--color-white)] font-semibold text-xl"
                >
                  와우 플레이어 신청하기
                </h3>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="wow-player">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <header class="mb-16">
                <h3
                  class="text-[color:var(--color-dark)] font-semibold text-xl mb-2"
                >
                  와우 플레이어
                </h3>
                <h4
                  class="text-[color:var(--color-gray-555)] font-semibold text-[13px] mb-1"
                >
                  와우 프로가 되어, 더욱 특별한 이벤트 기획에 도전하세요!
                </h4>
              </header>
              <div
                class="flex justify-center items-center overflow-hidden w-full p-4 relative"
              >
                <div class="overflow-x-scroll">
                  <div
                    class="z-5 top-0 mb-20 flex justify-center items-center flex-col px-12 py-8 rouned-lg bg-[#F7F7F7] w-[313px] h-[244px]"
                  >
                    <h3 class="mb-2">너무 재미있어요!</h3>
                    <p>
                      브랜드 업체발송은 상품설명에 별도로 기입된 브랜드 알림
                      배송공지 기준으로 출고되고 브랜드마다 개별 배송비가
                      부여됩니다.
                    </p>
                  </div>
                </div>
                <div
                  class="absolute z-10 top-[5%] left-[35%] bg-[#D9D9D9] rounded-full w-[100px] h-[100px]"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- End of Main -->

    <!-- Global Footer -->
    <footer class="global-footer"></footer>
    <!-- </div>
      </div>
    </div> -->
    <!-- End of Global Footer -->

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="../../assets/js/dnmdScript.js"></script>
    <script src="../../assets/js/siteScript.js"></script>
  </body>
</html>
