<!DOCTYPE html>
<html>
  <head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="og:title" content="" />
    <meta name="og:url" content="" />
    <meta name="og:site_name" content="" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="" />
    <meta name="og:img" content="" />

    <!-- Title -->
    <title>페이지 타이틀</title>

    <!-- Favicon (웹 페이지 탭 아이콘) -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png"> -->

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />

    <!-- Style -->
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <link
      href="../../assets/css/site-layout.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/components/event-cards.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/base/animations.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link href="../../main.css" rel="stylesheet" type="text/css" />
    <!-- <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <!-- <div class="container">
      <div class="row">
        <div class="col-sm-4"> -->
    <!-- GNB -->
    <header class="main-gnb">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="contents">
              <a href="/">
                <img class="logo" src="../../assets/images/logo.svg" alt="" />
              </a>
              <button class="search"><i class="ic-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="fake-height"></div> -->
    </header>
    <!-- End of GNB -->

    <!-- Main -->
    <main class="main-page w-full">
      <div class="carousel">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 relative">
              <!-- <div class="flex w-full relative"> -->
              <div class="contents">
                <div>
                  <!-- <div class="profile">
                    <img
                      src="https://wwwow.io/dataFiles/Contents/HLWw5XJZrn/datas/thumb.png?1673249337"
                      alt=""
                    />
                  </div> -->
                  <h1>롯데뮤지엄</h1>
                  <h2>마틴 마르지엘라 전</h2>
                  <h3>2023.01.10 ~ 2023.02.28</h3>
                </div>
                <div class="pages">
                  <div class="pagination">
                    <strong><span>1&nbsp;</span><span>/ 8</span></strong>
                  </div>
                  <hr class="bar" />
                  <hr class="line" />
                </div>
              </div>
              <div class="relative h-[468px] -mx-5">
                <div class="filter"></div>
                <div class="main-img">
                  <img
                    src="./test-img.png"
                    alt="플레이어리스트 메인이미지"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <div class="wow-pick">
        <header>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div
                  class="flex justify-between items-start bg-[color:var(--color-gray-222)] h-[470px] -mx-5 px-5"
                >
                  <div class="mt-14">
                    <h2
                      class="text-[color:var(--key-color)] font-bold text-2xl"
                    >
                      와우 Pick!
                    </h2>
                    <h3
                      class="text-[color:var(--color-gray-eee)] font-medium text-sm"
                    >
                      와우가 추천하는 플레이리스트
                    </h3>
                  </div>
                  <button class="mt-14">전체보기</button>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="cards"></div>
      </div>

      <div class="wow-pick">
        <header>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="flex justify-between items-start mt-14 en">
                  <div>
                    <h2
                      class="text-[color:var(--key-color)] font-bold text-2xl mb-4"
                    >
                      NEW EVENT
                    </h2>
                    <h3
                      class="text-[color:var(--color-gray-333)] font-medium text-sm mb-6"
                    >
                      와우야 서울에서 이벤트 찾아줘!
                    </h3>
                  </div>
                  <button
                    class="font-medium text-[13px] text-[color:var(--color-gray-777)]"
                  >
                    전체보기
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <section class="section-tag w-full">
                  <div class="mb-6 w-full overflow-hidden">
                    <div
                      class="flex flex-row gap-[6px] no-scrollbar overflow-x-scroll"
                    >
                      <label class="tag-wrapper">
                        <input
                          type="checkbox"
                          name="member_interest"
                          value="B0001"
                          class="visually-hidden input tag"
                        />
                        <span>주제01</span>
                      </label>

                      <label class="tag-wrapper">
                        <input
                          type="checkbox"
                          name="member_interest"
                          value="B0002"
                          class="visually-hidden input tag"
                        />
                        <span>주제02</span>
                      </label>

                      <label class="tag-wrapper">
                        <input
                          type="checkbox"
                          name="member_interest"
                          value="B0003"
                          class="visually-hidden input tag"
                        />
                        <span>주제03</span>
                      </label>

                      <label class="tag-wrapper">
                        <input
                          type="checkbox"
                          name="member_interest"
                          value="B0004"
                          class="visually-hidden input tag"
                        />
                        <span>주제04</span>
                      </label>

                      <label class="tag-wrapper">
                        <input
                          type="checkbox"
                          name="member_interest"
                          value="B0005"
                          class="visually-hidden input tag"
                        />
                        <span>주제05</span>
                      </label>

                      <label class="tag-wrapper">
                        <input
                          type="checkbox"
                          name="member_interest"
                          value="B0006"
                          class="visually-hidden input tag"
                        />
                        <span>주제06</span>
                      </label>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </header>
        <div class="new-event">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <article class="event-cards">
                  <section class="card">
                    <strong class="due-tag">모집 D-20</strong>
                    <a href="" class="picture link-detail">
                      <img
                        src="https://wwwow.io/dataFiles/Contents/EDaNx52lvC/datas/banner.jpg?1673249336"
                        alt="event-image"
                        loading="lazy"
                      />
                    </a>
                    <div class="title-container">
                      <h2
                        class="font-medium text-[13px] text-[color:var(--color-gray-333)]"
                      >
                        <a href="" class="link-detail">이벤트 타이틀</a>
                      </h2>
                      <button class="like">
                        <i class="ic-heart" aria-label="좋아요"></i>
                      </button>
                    </div>
                    <h3 class="creator text-[color:var(--color-secendary)]">
                      크리에이터명
                    </h3>
                    <div class="periods">
                      <h4
                        class="recruit-period text-[color:var(--color-gray-aaa)]"
                      >
                        모집기간 2023.01.05(목) - 2023.01.15(일)
                      </h4>
                      <h4
                        class="progress-period text-[color:var(--color-gray-aaa)]"
                      >
                        진행기간 2023.01.31(화) 1:30 PM
                      </h4>
                    </div>
                    <div class="state">
                      <h5>모집중 👍</h5>
                      <h5>무료 🙌</h5>
                    </div>
                  </section>
                </article>
                <button
                  class="border-[1px] border-[color:var(--color-gray-aaa)] border-solid rounded-lg w-full h-12 text-sm text-[color:var(--color-gray-777)] mb-12"
                >
                  더보기
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="application mb-16">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a
                href=""
                class="block bg-[color:var(--color-gray-333)] py-6 px-12 rounded-lg"
              >
                <h4
                  class="text-[color:var(--key-color)] font-semibold text-[13px] mb-1"
                >
                  프로필도 꾸미고, 팔로워도 모으고 싶다면?
                </h4>
                <h3
                  class="text-[color:var(--color-white)] font-semibold text-xl"
                >
                  와우 플레이어 신청하기
                </h3>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="wow-player">
        <header></header>
      </div>
    </main>

    <!-- End of Main -->

    <!-- Global Footer -->
    <footer class="global-footer"></footer>
    <!-- </div>
      </div>
    </div> -->
    <!-- End of Global Footer -->

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="../../assets/js/dnmdScript.js"></script>
    <script src="../../assets/js/siteScript.js"></script>
  </body>
</html>
