<!DOCTYPE html>
<html>
  <head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="og:title" content="" />
    <meta name="og:url" content="" />
    <meta name="og:site_name" content="" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="" />
    <meta name="og:img" content="" />

    <!-- Title -->
    <title>페이지 타이틀</title>

    <!-- Favicon (웹 페이지 탭 아이콘) -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png"> -->

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />

    <!-- Style -->
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <link
      href="../../assets/css/site-layout.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/components/event-cards.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/base/animations.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link href="../../main.css" rel="stylesheet" type="text/css" />
    <!-- <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <!-- <div class="container">
      <div class="row">
        <div class="col-sm-4"> -->
    <!-- GNB -->
    <header class="main-gnb">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="contents">
              <a href="/">
                <img class="logo" src="../../assets/images/logo.svg" alt="" />
              </a>
              <button class="search"><i class="ic-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="fake-height"></div> -->
    </header>
    <!-- End of GNB -->

    <!-- Main -->
    <main class="main-page">
      <div class="carousel">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 relative">
              <!-- <div class="flex w-full relative"> -->
              <div class="contents">
                <div>
                  <!-- <div class="profile">
                    <img
                      src="https://wwwow.io/dataFiles/Contents/HLWw5XJZrn/datas/thumb.png?1673249337"
                      alt=""
                    />
                  </div> -->
                  <h1>롯데뮤지엄</h1>
                  <h2>마틴 마르지엘라 전</h2>
                  <h3>2023.01.10 ~ 2023.02.28</h3>
                </div>
                <div class="pages">
                  <div class="pagination">
                    <strong><span>1&nbsp;</span><span>/ 8</span></strong>
                  </div>
                  <hr class="bar" />
                  <hr class="line" />
                </div>
              </div>
              <div class="relative h-[468px] -mx-5">
                <div class="filter"></div>
                <div class="main-img">
                  <img
                    src="./test-img.png"
                    alt="플레이어리스트 메인이미지"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <div class="wow-pick bg-[color:var(--color-gray-222)] h-[470px]">
        <header>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="flex justify-between items-start">
                  <div>
                    <h2
                      class="text-[color:var(--key-color)] font-bold text-2xl"
                    >
                      와우 Pick!
                    </h2>
                    <h3
                      class="text-[color:var(--color-gray-eee)] font-medium text-sm"
                    >
                      와우가 추천하는 플레이리스트
                    </h3>
                  </div>
                  <button>전체보기</button>
                </div>
              </div>
            </div>
          </div>
        </header>

        <div class="cards"></div>
      </div>

      <div class="application">
        <h3>와우 플레이어 신청하기</h3>
      </div>
    </main>

    <!-- End of Main -->

    <!-- Global Footer -->
    <footer class="global-footer"></footer>
    <!-- </div>
      </div>
    </div> -->
    <!-- End of Global Footer -->

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="../../assets/js/dnmdScript.js"></script>
    <script src="../../assets/js/siteScript.js"></script>
  </body>
</html>
