.gnb {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.gnb h1 {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.gnb-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.gnb .prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
}
.gnb .prev-btn .ic-chevron::before {
  color: white;
}
