.main-gnb {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  z-index: 100;

  display: flex;
  align-items: center;
  /* padding: 1rem; */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(12px);
}

.main-gnb .contents {
  padding: 18px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-gnb .contents .logo {
  width: 96px;
}
.main-gnb .contents .search {
  width: 32px;
  height: 32px;
}
