.due-tag {
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  background-color: var(--key-color);
  color: var(--color-white);
  white-space: nowrap;
}
