<!DOCTYPE html>
<html>
  <head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="og:title" content="" />
    <meta name="og:url" content="" />
    <meta name="og:site_name" content="" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="" />
    <meta name="og:img" content="" />

    <!-- Title -->
    <title>페이지 타이틀</title>

    <!-- Favicon (웹 페이지 탭 아이콘) -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png"> -->

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />

    <!-- Style -->
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <link
      href="../../assets/css/site-layout.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/components/event-cards.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/base/animations.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link href="../../main.css" rel="stylesheet" type="text/css" />
    <!-- <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./swiper.css" />
  </head>
  <body>
    <!-- GNB -->
    <!-- class="main-gnb" -->
    <!-- <header
      class="main-gnb bg-[color:var(--color-dark)] backdrop-opacity-90 backdrop-blur-md" -->

    <header class="main-gnb">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="contents">
              <!-- <a href="/">
                <img class="logo" src="../../assets/images/logo.svg" alt="" />
              </a> -->
              <div></div>
              <button class="flex justify-center items-center">
                <img
                  class="w-[13.82px] h-[13.82px]"
                  src="../../assets/images/icons/close.svg"
                  alt=""
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="fake-height"></div>
    </header>
    <!-- End of GNB -->

    <!-- wwwow > Header(=slogan) -->
    <main class="about">
      <div class="wwwow bg-[color:var(--color-gray-222)]">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <header class="slogan">
                <h2>나만 알던 재미,</h2>
                <h1 class="mb-[10px]">
                  이제 <span>세상이</span> 알아야 할 때!
                </h1>
                <h3>와우를 외쳐볼까요!</h3>

                <div class="background-picture">
                  <img
                    class="logo"
                    src="../../assets/images/Logo_WWWOW.png"
                    alt="와우 로고"
                  />
                  <img
                    class="baemin"
                    src="../../assets/images/baemin.png"
                    alt="배민 배너"
                  />
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>
      <!-- tab > menu -->
      <div class="container">
        <div class="row">
          <div class="col-sm-4 relative">
            <!-- <div class="menu"> -->

            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="tab">
        <ul class="menu">
          <li><a href="#wow">#와우!</a></li>
          <li><a href="#wow-view">#와우엿보기</a></li>
          <li><a href="#event-find">#이벤트찾기</a></li>
          <li><a href="#my-profile">#마이프로필</a></li>
        </ul>
      </div>
      <!-- info > section(=copywriting) -->
      <div class="bg-[color:var(--bg-color)]">
        <div class="container info" id="wow">
          <div class="row">
            <div class="col-sm-4">
              <div class="copywriting">
                <h3>기대하고 참여한 행사,</h3>
                <h2 class="text-[color:var(--sub-color)]">
                  내가 만들어도
                  <span class="text-[color:var(--sub-color)]"
                    >이것보단 더 재밌겠다</span
                  ><br />
                  싶은 순간이 있었나요?
                </h2>
                <span>“</span>
                <p class="mb-[10px]">
                  재밌는 아이디어는 떠올랐는데<br />
                  어디서부터 시작할 지 모르겠고…<br />
                  <span>더 많은 사람들과 함께 하고 싶다면?</span>
                </p>
                <span class="mb-[44px]">”</span>
                <div class="relative">
                  <h2 class="text-[color:var(--color-gray-333)]">
                    그렇다면, 와우에서 만들어보세요!
                  </h2>
                  <img
                    class="star w-6 absolute -top-5 left-[65px]"
                    src="../../assets/images/star.svg"
                    alt="star"
                  />
                  <img
                    class="circle w-[61px] absolute -top-1 left-[72px]"
                    src="../../assets/images/circle.svg"
                    alt="circle"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- festival > section(=preview) -->
      <div class="bg-[color:var(--color-gray-222)]" id="wow-view">
        <div class="container festival">
          <div class="row">
            <div class="col-sm-4">
              <div class="triangle"></div>
              <div class="mx-auto w-full flex justify-center">
                <section class="preview overflow-hidden -mx-5 max-w-[800px]">
                  <h4 class="flex justify-center w-full">와우 엿보기</h4>
                  <!-- 피자 세 개 -->
                  <div
                    class="w-[200%] max-w-[800px] md:w-[100%] flex justify-center"
                  >
                    <swiper-container
                      class="mySwiper ml-2"
                      watch-slides-progress="true"
                      slides-per-view="3"
                      autoplay="true"
                      loop="true"
                    >
                      <swiper-slide>
                        <div class="flex flex-col items-center justify-center">
                          <h3 class="text-center h-6">피자 덕후가 만드는</h3>
                          <h2 class="text-center mb-6 h-7">피자 페스티벌2</h2>
                          <div class="img-container">
                            <img
                              src="https://blog.kakaocdn.net/dn/P1x89/btq5adtMRSY/w3gQIaKZLf1TPR0QXqqXik/img.jpg"
                              alt="피자"
                            />
                            <div class="wow-view-line"></div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide>
                        <div class="flex flex-col items-center justify-center">
                          <h3 class="text-center h-6">피자 덕후가 만드는</h3>
                          <h2 class="text-center mb-6 h-7">피자 페스티벌2</h2>
                          <div class="img-container">
                            <img
                              src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Supreme_pizza.jpg/800px-Supreme_pizza.jpg"
                              alt="피자"
                            />
                            <div class="wow-view-line"></div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide>
                        <div class="flex flex-col items-center justify-center">
                          <h3 class="text-center h-6">피자 덕후가 만드는</h3>
                          <h2 class="text-center mb-6 h-7">피자 페스티벌3</h2>
                          <div class="img-container">
                            <img
                              src="https://i.ytimg.com/vi/X6VrQZhr5hQ/maxresdefault.jpg"
                              alt="피자"
                            />
                            <div class="wow-view-line"></div>
                          </div>
                        </div>
                      </swiper-slide>
                      <swiper-slide>
                        <div class="flex flex-col items-center justify-center">
                          <h3 class="text-center h-6">피자 덕후가 만드는</h3>
                          <h2 class="text-center mb-6 h-7">피자 페스티벌4</h2>
                          <div class="img-container">
                            <img
                              src="http://www.dailyimpact.co.kr/news/photo/202211/88703_71620_2419.jpg"
                              alt="피자"
                            />
                            <div class="wow-view-line"></div>
                          </div>
                        </div>
                      </swiper-slide>
                    </swiper-container>
                  </div>
                  <div id="event-find" class="mt-[112px]">
                    <div
                      class="relative flex flex-col justify-center items-center mb-8"
                    >
                      <h3>플레이어가 되면,</h3>
                      <h2 class="text-center">
                        매일 이벤트를 열고<br />
                        참여자를 모을 수 있어요
                      </h2>
                      <img
                        class="star w-3 absolute -top-10 left-[40px]"
                        src="../../assets/images/star.svg"
                        alt="star"
                      />
                      <img
                        class="star w-6 absolute -top-5 left-[15px]"
                        src="../../assets/images/star.svg"
                        alt="star"
                      />
                      <img
                        class="star w-6 absolute bottom-[-20px] right-[-30px]"
                        src="../../assets/images/star.svg"
                        alt="star"
                      />
                    </div>
                  </div>
                  <!-- <div class="line">
                  <img
                    class="curvature"
                    src="../../assets/images/curvature.png"
                    alt="curvature"
                  />
                </div> -->
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content > section(=swipe) -->
      <div class="container content">
        <div class="row">
          <div class="col-sm-4">
            <section class="swipe">
              <div class="event"></div>

              <h4>
                복잡한 세상 재미라도 챙겨요<br />
                따분한 이벤트는 여기 없어요
              </h4>
              <h3>단순한 마이 페이지는 NOPE!</h3>
              <h2>
                프로필로 남들과 다른<br />
                당신을 알리세요
              </h2>

              <!--
    <div
        class="w-[200%] max-w-[800px] md:w-[100%] flex justify-center"
      >
        <swiper-container
          class="mySwiper ml-2"
          watch-slides-progress="true"
          slides-per-view="3"
          autoplay="true"
          loop="true"
        >
          <swiper-slide>
            <div id="filtered-img">
                <div class="background-filter1"></div>
                <div class="background-filter2"></div>
                <div class="background-picture">
                  <img
                    src="../../assets/images/profile_image-300x300.png"
                    alt="프로필 사진"
                  />
                </div>
              </div>
              <div class="my">
                <div class="my-wrapper">
                  <div class="user-picture">
                    프로필 초록색원 활성화 여부
                    <div class="circle is-active"></div>
                    <img
                      src="../../assets/images/profile_image-300x300.png"
                      alt="프로필 사진"
                    />
                  </div>
                  <div class="name">
                    <h1 class="primary">Nickname</h1>
                    <span class="secondary">@hambi</span>
                  </div>
                   팔로우 팔로잉 전환 2가지 
                   <button class="follow-btn">+ 팔로우</button> 
                  <button class="following-btn">
                    <span>팔로잉</span>
                    <i class="ic-check" aria-label="뒤로가기"></i>
                  </button>
                  <ol class="hash-chip-container">
                    <li>
                      <button class="hash-chip">#여행</button>
                    </li>
                    <li>
                      <button class="hash-chip">#사진</button>
                    </li>
                    <li>
                      <button class="hash-chip">#스냅</button>
                    </li>
                  </ol>
                  <div class="follow-state">
                    <div class="follower">
                      <h2>팔로워</h2>
                      <span>3.7k</span>
                    </div>
                    <div class="following">
                      <h2>팔로잉</h2>
                      <span>17</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fake-container"></div>
              </swiper-slide>
            -->

              <div id="my-profile"></div>

              <h4>
                일잘러는 많은데 왜 놀잘러는 없죠?<br />
                와우에선 누구나 놀잘러가 될 수 있어요.
              </h4>
              <h2>
                매일 새로운 재미를<br />
                와우에서 경험하세요
              </h2>
            </section>
          </div>
        </div>
      </div>

      <!-- event -->
      <div class="container">
        <img src="../../assets/images/baeminone.png" alt="배민 1 이벤트" />
      </div>
    </main>

    <!-- End of Main -->

    <!-- questions > FAQ = 자주 묻는 질문 -->
    <div class="container questions">
      <div class="row">
        <div class="col-sm-4">
          <h3>자주 묻는 질문</h3>
          <ul class="faq">
            <li>
              <!-- <button class="flex justify-center items-center">
                <img
                  class="w-[5.17px] h-[8.67px]"
                  src="../../assets/images/icons/close.svg"
                  alt=""
                />
              </button> -->
              <!-- <i class="ic-chevron" aria-label="WWWOW는 어떤 서비스인가요?"></i> -->
              <input type="checkbox" id="faq-1" />
              <label for="faq-1">WWWOW는 어떤 서비스인가요?</label>
              <div>
                <p>
                  WWWOW는 “세상을 더 즐겁게”라는 목표 하나로 만들어진
                  서비스에요. 세상에 재미있는 모든 이벤트를 모으고, 만들고, 같이
                  참여하는 올인원 이벤트 플랫폼입니다.
                </p>
              </div>
            </li>
            <li>
              <input type="checkbox" id="faq-2" />
              <label for="faq-2"
                >WWWOW가 고집하는 특별한 이벤트가 있나요?</label
              >

              <div>
                <p>
                  WWWOW는 “세상을 더 즐겁게”라는 목표 하나로 만들어진
                  서비스에요. 세상에 재미있는 모든 이벤트를 모으고, 만들고, 같이
                  참여하는 올인원 이벤트 플랫폼입니다.
                </p>
              </div>
            </li>
            <li>
              <input type="checkbox" id="faq-3" />
              <label for="faq-3">마음에 드는 이벤트에 참여하고 싶어요.</label>

              <div>
                <p>
                  WWWOW는 “세상을 더 즐겁게”라는 목표 하나로 만들어진
                  서비스에요. 세상에 재미있는 모든 이벤트를 모으고, 만들고, 같이
                  참여하는 올인원 이벤트 플랫폼입니다.
                </p>
              </div>
            </li>
            <li>
              <input type="checkbox" id="faq-4" />
              <label for="faq-4">WWWOW는 어떤 서비스인가요?</label>

              <div>
                <p>
                  WWWOW는 “세상을 더 즐겁게”라는 목표 하나로 만들어진
                  서비스에요. 세상에 재미있는 모든 이벤트를 모으고, 만들고, 같이
                  참여하는 올인원 이벤트 플랫폼입니다.
                </p>
              </div>
            </li>
            <li>
              <input type="checkbox" id="faq-5" />
              <label for="faq-5"
                >제가 만든 이벤트를 WWWOW에 등록하고 싶어요.</label
              >

              <div>
                <p>
                  WWWOW는 “세상을 더 즐겁게”라는 목표 하나로 만들어진
                  서비스에요. 세상에 재미있는 모든 이벤트를 모으고, 만들고, 같이
                  참여하는 올인원 이벤트 플랫폼입니다.
                </p>
              </div>
            </li>
            <li>
              <input type="checkbox" id="faq-6" />
              <label for="faq-6">와우플레이어가 되려면 어떻게 하나요?</label>

              <div>
                <p>
                  WWWOW는 “세상을 더 즐겁게”라는 목표 하나로 만들어진
                  서비스에요. 세상에 재미있는 모든 이벤트를 모으고, 만들고, 같이
                  참여하는 올인원 이벤트 플랫폼입니다.
                </p>
              </div>
            </li>
            <li>
              <input type="checkbox" id="faq-7" />
              <label for="faq-7">와우플레이어가 되려면 어떻게 하나요?</label>

              <div>
                <p>
                  WWWOW는 “세상을 더 즐겁게”라는 목표 하나로 만들어진
                  서비스에요. 세상에 재미있는 모든 이벤트를 모으고, 만들고, 같이
                  참여하는 올인원 이벤트 플랫폼입니다.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Global Footer -->
    <!-- <footer class="global-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="mb-4">
              <img
                class="h-[52px] w-24"
                src="../../assets/images/logo.svg"
                alt="로고"
              />
            </div>
            <address class="mb-6">
              <a class="font-bold" href="mailto:wwwowinfo@gmail.com"
                >wwwowinfo@gmail.com</a
              >
            </address>
            <div
              class="font-semibold text-[12px] text-[color:var(--color-gray-777)] flex flex-wrap space-x-2 max-w-[250px] mb-1"
            >
              <a href="" target="_blank">와우소개</a>
              <a href="" target="_blank">서비스이용약관</a>
              <a href="" target="_blank">개인정보처리방침</a>
            </div>
            <div
              class="mb-6 font-semibold text-[12px] text-[color:var(--color-gray-777)] flex flex-wrap space-x-2 max-w-[250px]"
            >
              <a class="" href="" target="_blank">전자금융거래 이용약관</a>
              <a href="" target="_blank">취소 및 환불 약관</a>
              <a href="" target="_blank">고객센터</a>
            </div>
            <address
              class="text-[12px] font-medium text-[color:var(--color-gray-aaa)]"
            >
              21F, Parc1 Tower2, 108, Yeoui-daero, Yeongdeungpo-gu, Seoul,
              Republic of Korea
              <a href="" target="_blank"> wwwow.io</a>
            </address>
            <div class="mb-12">
              <address
                class="text-[12px] font-medium text-[color:var(--color-gray-aaa)] mb-2"
              >
                서울특별시 영등포구 여의대로 108 파크원타워 2, 21층 (우 07335)
              </address>
              <dl
                class="text-[12px] font-medium text-[color:var(--color-gray-aaa)]"
              >
                <div
                  class="flex font-medium text-[color:var(--color-gray-aaa)]"
                >
                  <dt class="mr-1">사업자 등록번호</dt>
                  <dd>1058781783</dd>
                </div>
                <div
                  class="flex font-medium text-[color:var(--color-gray-aaa)]"
                >
                  <dt class="mr-1">통신판매업 신고번호</dt>
                  <dd>제 2022-0000-0000호</dd>
                </div>
                <div
                  class="flex font-medium text-[color:var(--color-gray-aaa)]"
                >
                  <dt class="mr-1">대표이사</dt>
                  <dd>이대우</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    <!-- </div>
      </div>
    </div> -->
    <!-- End of Global Footer -->

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="../../assets/js/dnmdScript.js"></script>
    <script src="../../assets/js/siteScript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
  </body>
</html>
