<!DOCTYPE html>
<html>
  <head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="og:title" content="" />
    <meta name="og:url" content="" />
    <meta name="og:site_name" content="" />
    <meta name="og:description" content="" />
    <meta name="og:image" content="" />
    <meta name="og:img" content="" />

    <!-- Title -->
    <title>페이지 타이틀</title>

    <!-- Favicon (웹 페이지 탭 아이콘) -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png"> -->

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />

    <!-- Style -->
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <link
      href="../../assets/css/site-layout.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/components/event-cards.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../../assets/css/base/animations.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link href="../../main.css" rel="stylesheet" type="text/css" />
    <!-- <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <!-- <div class="container">
      <div class="row">
        <div class="col-sm-4"> -->
    <!-- GNB -->
    <!-- class="main-gnb" -->
    <!-- <header
      class="main-gnb bg-[color:var(--color-dark)] backdrop-opacity-90 backdrop-blur-md"
    > -->
    <header class="main-gnb">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="contents">
              <a href="/">
                <img class="logo" src="../../assets/images/logo.svg" alt="" />
              </a>
              <button class="search"><i class="ic-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="fake-height"></div> -->
    </header>
    <!-- End of GNB -->

    <!-- Main -->
    <main class="about"></main>

    <!-- End of Main -->

    <!-- Global Footer -->
    <!-- <footer class="global-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="mb-4">
              <img
                class="h-[52px] w-24"
                src="../../assets/images/logo.svg"
                alt="로고"
              />
            </div>
            <address class="mb-6">
              <a class="font-bold" href="mailto:wwwowinfo@gmail.com"
                >wwwowinfo@gmail.com</a
              >
            </address>
            <div
              class="font-semibold text-[12px] text-[color:var(--color-gray-777)] flex flex-wrap space-x-2 max-w-[250px] mb-1"
            >
              <a href="" target="_blank">와우소개</a>
              <a href="" target="_blank">서비스이용약관</a>
              <a href="" target="_blank">개인정보처리방침</a>
            </div>
            <div
              class="mb-6 font-semibold text-[12px] text-[color:var(--color-gray-777)] flex flex-wrap space-x-2 max-w-[250px]"
            >
              <a class="" href="" target="_blank">전자금융거래 이용약관</a>
              <a href="" target="_blank">취소 및 환불 약관</a>
              <a href="" target="_blank">고객센터</a>
            </div>
            <address
              class="text-[12px] font-medium text-[color:var(--color-gray-aaa)]"
            >
              21F, Parc1 Tower2, 108, Yeoui-daero, Yeongdeungpo-gu, Seoul,
              Republic of Korea
              <a href="" target="_blank"> wwwow.io</a>
            </address>
            <div class="mb-12">
              <address
                class="text-[12px] font-medium text-[color:var(--color-gray-aaa)] mb-2"
              >
                서울특별시 영등포구 여의대로 108 파크원타워 2, 21층 (우 07335)
              </address>
              <dl
                class="text-[12px] font-medium text-[color:var(--color-gray-aaa)]"
              >
                <div
                  class="flex font-medium text-[color:var(--color-gray-aaa)]"
                >
                  <dt class="mr-1">사업자 등록번호</dt>
                  <dd>1058781783</dd>
                </div>
                <div
                  class="flex font-medium text-[color:var(--color-gray-aaa)]"
                >
                  <dt class="mr-1">통신판매업 신고번호</dt>
                  <dd>제 2022-0000-0000호</dd>
                </div>
                <div
                  class="flex font-medium text-[color:var(--color-gray-aaa)]"
                >
                  <dt class="mr-1">대표이사</dt>
                  <dd>이대우</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    <!-- </div>
      </div>
    </div> -->
    <!-- End of Global Footer -->

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="../../assets/js/dnmdScript.js"></script>
    <script src="../../assets/js/siteScript.js"></script>
  </body>
</html>
