* {
  scroll-behavior: smooth;
}
button:focus {
  outline: none !important;
}
:root {
  --main-color: #34ff92;
  --sub-color: #00c65b;
  --bg-color: #f5f5f5;
}

.wwwow {
  height: 560px;
}

.slogan,
.copywriting,
.preview,
.swipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slogan {
  gap: 10px;
}

.slogan h2 {
  color: var(--sub-color);
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  margin-top: 96px;
}

.slogan h1,
.slogan h1 > span {
  color: var(--main-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
}

.slogan h1 > span {
  font-size: 32px;
}

.slogan h3 {
  color: var(--color-border);
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
}

.logo {
  margin-top: 9.49%;
}

.baemin {
  position: relative;
  top: -72px;
  /* right: -38px; padding값 맞추면 이거 */
  right: -58px; /* logo에 맞추면 이거*/
}

.tab {
  height: 48px;
  background-color: var(--bg-color);
}

.menu {
  display: flex;
  max-width: 510px;
  justify-content: space-between;
  margin: 0 auto;
  line-height: 48px;
}

.menu li {
  text-align: center;
  width: 100%;
  max-width: 97.5px;
  cursor: pointer;
}

.menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-secondary);
}

.menu li:hover a {
  font-weight: 600;
  color: var(--color-gray-222);
  box-shadow: inset 0px -1px 0px #aaaaaa;
}

.info {
  height: 467px;
  background-color: var(--bg-color);
}

.info .line .star {
  width: 24px;
  height: 24px;
  position: relative;
  top: -126px;
  left: -44px;
}

.info .line .circle {
  position: relative;
  top: -135px;
  left: -36px;
}

.copywriting h3 {
  color: var(--color-gray-333);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-top: 64px;
}

.copywriting h2,
.copywriting h2 > span {
  color: var(--sub-color);
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 52px;
}

.copywriting h2 > span {
  font-weight: 800;
}

.copywriting p {
  color: var(--color-gray-555);
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  margin: 0 2px;
}

.copywriting p > span {
  font-weight: 700;
}

.copywriting h2:nth-child(6) {
  color: var(--color-gray-333);
  font-weight: 700;
  margin-top: 44px;
  margin-bottom: 70px;
}

.festival {
  height: 852px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 32px solid #f5f5f5;
  margin: 0 auto;
  position: relative;
  top: -8px;
}

.pizza {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.oval {
  border: 4px solid transparent;
  border-radius: 100%;
  background-image: linear-gradient(#222, #222),
    linear-gradient(to right bottom, #4bffa9, #00d7ca, #04c669);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 22px;
}

.oval > img {
  margin: 0 auto;
}

.preview h4 {
  color: var(--color-white);
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  margin-top: 56px;
  margin-bottom: 16px;
}

.preview h3 {
  color: var(--sub-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.preview h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.preview img {
  width: 234px;
  margin-top: 22px;
}

.preview h3:nth-child(5) {
  color: var(--color-white);
  margin-top: 112px;
  margin-bottom: 12px;
}

.preview h2:nth-child(6) {
  text-align: center;
  margin-bottom: 136px;
}

.festival .line .star,
.festival .line .bstar,
.festival .line .curvature {
  position: relative;
}

.festival .line .star:first-child {
  width: 24px;
  height: 24px;
  top: -285px;
  left: 20px;
}

.festival .line .star:nth-child(2) {
  width: 12px;
  height: 12px;
  top: -348px;
  left: 48px;
}

.festival .line .bstar {
  width: 34px;
  height: 34px;
  top: -256px;
  left: 287px;
}

.festival .line .curvature {
  width: 387.36px;
  height: 566.01px;
  top: -1019px;
  left: 25px;
  /* z-index: 1;  html 순서가 잘못된건가 */
}

.content {
  height: 1139px;
  background-color: var(--bg-color);
}

.swipe .event,
.swipe .profile {
  width: 240px;
  height: 270.77px;
  background-color: var(--color-black);
  border: 2px solid #f5f5f5;
  border-radius: 16px;
}

.swipe h4 {
  color: var(--color-gray-555);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  margin-top: 40px;
}

.swipe h4:nth-child(6) {
  margin-top: 80.64px;
}

.swipe h3 {
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-top: 62px;
  margin-bottom: 12px;
}

.swipe h2 {
  color: #00c65b;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 40px;
}

.swipe h2:last-child {
  margin-top: 60px;
  margin-bottom: 38px;
}
