swiper-container.wow-view {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 120px;
}

.wow-view swiper-slide {
  justify-content: center;
  align-items: center;
}

.wow-view .img-container {
  width: 163px;
  height: 194px;
  position: relative;
}
.wow-view .img-container img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  object-fit: cover;
  border-radius: 200%;
  z-index: 5;
}
.wow-view .wow-view-line {
  position: absolute;
  width: 180px;
  height: 240px;
  z-index: 0;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 200%;
  border: 4px solid transparent;
  background-image: linear-gradient(#222, #222),
    linear-gradient(to left, #4bffa9, #00d7ca, #04c669);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
/* 정중앙 블러없는곳 */
.wow-view .swiper-slide-next {
  width: 234px !important;
  height: 278px !important;
  filter: blur(0) !important;
  transform: scale(1.4) !important;
}
/* 와우 맛보기 좌우 */
.wow-view swiper-slide :not(.swiper-slide-next) img {
  width: 186px;
  height: 222px;
}

.wow-view .swiper-slide-active,
.wow-view .swiper-slide-visible {
  filter: blur(5px);
}

swiper-container.event-find {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 120px;
  transform: translate(-29.3%);
}

.event-find swiper-slide {
  justify-content: center;
  align-items: center;
  /* margin-right: 27px; */
}
/* <div class="mx-auto w-full h-full flex justify-center">
<section class="preview overflow-hidden -mx-5 max-w-[800px]">

  <!-- 피자 세 개 -->
  <div
    class="w-[200%] max-w-[800px] md:w-[100%] flex justify-center"
  > */
